<!doctype html>
<html lang="en" class="h-100">
  <head>
    <!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
 
  </head>
  <body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <%= render "shared/header"%>

  <main class="px-3">
  <div class="py-5 text-center">
  <h3><p class="title"><%= "Question#{@current + 1}" %></p></h3>
   <% @random1.each do |id| %>
   <div class='question'>
       <%= id.question %>
   </div>

   <div class='image'>
    <div class='size'>
       <%= image_tag id.image, size: '350x500' %>
    </div>

        <div class="answer">
        <%= form_tag({:controller => "quizzes",
				  :action => "question"}, { :method => :get} ) do |form| %>

      <% @answer.each do |question| %>
        <li>
          <label>
	  	     <%= radio_button_tag(:choice, question.id) %> 
           <%= question.card_name %>
          </label>
	
        </li>
      <% end %>
      <%= submit_tag "回答する", :class => 'btn btn-lg btn-secondary fw-bold border-white bg-blue' , :id => 'button' %>
      </div>
    <% end %>

       </div>
 
      <% end %>
  </div>

  <div class="py-5 text-center">   
  

  </div>
  
        <%= render "shared/footer"%>  
      </div>
      
    </div>

  </main>


</div>



  </body>
</html>
